### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# PyCharm
.idea/

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/

images/

db.sqlite3

